.wrap{
    padding-left: 200px;
    padding-right: 200px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border: solid 2px gray;
}
.header img{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80px;
    height: auto;
}
.content{
    border: solid 4px red;
    padding-bottom:  100px;
}
.content p {
    color: rgba(3, 3, 107, 0.949);
    padding: 20px;
    
}
.content a {
    background: black;
    color:white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.content a:hover{
    background: blue;
}
.footer{
    background: pink;
}
.footer p {
    text-align : center;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}